body {
    font-family: 'Poppins', ;
}
.nav-link {
    color: grey !important;
   
}

.navbar-brand img {
    width: 120px
}

.container {
    margin-bottom: 50px;
}


.buy-now-btn {
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

}

.carousel-item {
    padding: 20px 40px;
  }

  .carousel-inner {
    padding: 10px 20px;
    border-radius: 10px;
}
.carousel-indicators li {
    height: 8px;
    width: 10px;
    background-color: #252525;
}
.carousel-indicators li.active{
    height: 8px;
    width: 25px;
    background-color: orange;
}

.detail p{
    margin: 30px 0px;
}

.card-heading a {
    color: orange;
}

.card {
    border: none;
    padding: 20px 20px;
    box-shadow: 5px 5px 10px lightgray;
}

.card h5 {
    font-weight: 600;
}

.card-footer {
    border: none;
    background: none;
}

/* catgories section */

.orange-bottom {
    margin: 100px 0px;
}

.orange-bottom::after {
    position: relative;
    content: "";
    width: 70px;
    height: 5px;
    background-color: orange;
    display: block;
    margin-left: 520px;
    border-radius: 5px;
    margin-bottom: 100px;
    margin-top: 5px

}
.Categories-img {
   padding: 40px 10px;
   box-shadow: 5px 5px 10px lightgray
}

.Categories-img img {
    margin-bottom: 20px;
    width: 100px
}